.form-control {
  width: 100px;

  height: 40px;
  margin-top: 10px;
  padding-left: 20px;
  margin-left: 270px;
  margin-right: 170px;
}
.result {
  padding-top: 35px;
}
.btn {
  height: 60px;
}
.input-group {
  background-color: rgb(244, 237, 237);
  height: 60px;
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}
#app {
  width: 800px;
}
